.user {
  background-color: lightblue;
  border: 2px solid darkcyan;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 10px 0;
  padding: 0 20px;
  width: 450px;

  &:hover {
    cursor: pointer;
    border: 3px solid greenyellow;
  }
}
