.user {
  display: flex;
  gap: 30px;
  justify-content: center;
  border: 2px solid darkcyan;
  margin: 10px 0;
  background-color: lightblue;

  &:hover {
    cursor: pointer;
    border: 3px solid greenyellow;
  }
}
