<div class="user">
  <div>
    <h3>Information</h3>
    <ul>
      <li><strong>Name:</strong> {{ user.name }}</li>
      <li><strong>Username:</strong> {{ user.username }}</li>
      <li><strong>Phone number:</strong> {{ user.phone }}</li>
      <li><strong>Email:</strong> {{ user.email }}</li>
    </ul>
  </div>
  <div>
    <h3>Address</h3>
    <ul>
      <li><strong>City:</strong> {{ user.address.city }}</li>
      <li><strong>Street:</strong> {{ user.address.street }}</li>
      <li><strong>Zipcode:</strong> {{ user.address.zipcode }}</li>
    </ul>
  </div>
</div>