<div class="container">
  <div class="search">
    <input
      [formControl]="searchField"
      class="input"
      type="text"
      placeholder="Type here..."
    />
  </div>

  <ng-container *ngIf="(users$ | async) as users">
    <div class="users" *ngIf="users.length; else noUsers">
      <app-user-card *ngFor="let user of users" [user]="user"></app-user-card>
    </div>
  </ng-container>
  <ng-template #noUsers><strong>There are no users matching your request...</strong></ng-template>
</div>
